## ML 1 In-Class

[![Open In SageMaker Studio Lab](https://studiolab.sagemaker.aws/studiolab.svg)](https://studiolab.sagemaker.aws/import/github/https://github.com/UVADS/DS-3001/blob/5f006a76d395c86840c16e865de95f642cd8aae8/04_ML_Concepts_I_Foundations/ML1_inclass.ipynb)

In [10]:
pip install pydataset

Collecting pydataset
  Using cached pydataset-0.2.0-py3-none-any.whl
Requirement already satisfied: pandas in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pydataset) (1.4.3)
Requirement already satisfied: numpy>=1.18.5 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pandas->pydataset) (1.23.1)
Requirement already satisfied: pytz>=2020.1 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pandas->pydataset) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from pandas->pydataset) (2.8.2)
Requirement already satisfied: six>=1.5 in /home/studio-lab-user/.conda/envs/default/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas->pydataset) (1.16.0)
Installing collected packages: pydataset
Successfully installed pydataset-0.2.0
Note: you may need to restart the kernel to use updated packages.

In [60]:
# import packages

from pydataset import data
import pandas as pd
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings('ignore')

In [3]:
mtcars = data('mtcars')
mtcars.head()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [4]:
iris = data('iris')
iris.head()

   Sepal.Length  Sepal.Width  Petal.Length  Petal.Width Species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa
4           4.6          3.1           1.5          0.2  setosa
5           5.0          3.6           1.4          0.2  setosa

What mental models can we see from these data sets? What data science questions can we ask?

### Example: k-Nearest Neighbors

We want to first split the data into train and test data sets. To do this, we will use sklearn's train_test_split method.

First, we need to separate variables into independent and dependent dataframes.

In [5]:
X = iris.drop(['Species'], axis=1).values   # independent variables
y = iris['Species'].values                  # dependent variable

train, test = train_test_split(iris,  test_size=0.3, stratify = iris.Species)

In [30]:
test, validation = train_test_split(test, test_size=0.5, stratify=test.Species)

In [39]:
test.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count     11.000000    11.000000     11.000000    11.000000
mean       5.845455     3.045455      3.881818     1.163636
std        1.076442     0.307778      2.064857     0.845308
min        4.300000     2.600000      1.100000     0.100000
25%        5.150000     2.800000      1.550000     0.300000
50%        5.600000     3.000000      4.500000     1.200000
75%        6.650000     3.250000      5.350000     1.800000
max        7.600000     3.600000      6.600000     2.500000

In [40]:
train.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count    105.000000   105.000000    105.000000   105.000000
mean       5.845714     3.060952      3.748571     1.197143
std        0.853165     0.453087      1.783369     0.764533
min        4.400000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.200000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

Now, we use the scikitlearn KNN classifier.

In [42]:
validation.describe()

       Sepal.Length  Sepal.Width  Petal.Length  Petal.Width
count     11.000000    11.000000     11.000000    11.000000
mean       5.763636     3.045455      3.863636     1.281818
std        0.600454     0.471940      1.666897     0.737317
min        4.900000     2.200000      1.300000     0.100000
25%        5.350000     2.700000      2.750000     0.700000
50%        5.800000     3.000000      4.500000     1.500000
75%        6.100000     3.450000      4.950000     1.850000
max        6.800000     3.700000      5.900000     2.300000

In [55]:
neigh = KNeighborsClassifier(n_neighbors=10)

X_train = train.drop(['Species'], axis=1).values # values
y_train = train['Species'].values # labels

neigh.fit(X_train, y_train)

KNeighborsClassifier(n_neighbors=10)

In [63]:
# now, we check the model's accuracy:

X_test = test.drop(['Species'], axis=1).values
y_test = test['Species'].values

a = neigh.predict(X_test)

print("Predicted label Versicolor =",(a == 'versicolor').sum())
print("Predicted label Virginica =", (a == 'virginica').sum())
print("Predicted label Setosa =", (a == 'setosa').sum())

Predicted label Versicolor = 4
Predicted label Virginica = 3
Predicted label Setosa = 4

In [62]:
print("True Label Versicolor =",(y_test == 'versicolor').sum())
print("True Label Virginica =", (y_test == 'virginica').sum())
print("True Label Setosa =", (y_test == 'setosa').sum())

True Label Versicolor = 3
True Label Virginica = 4
True Label Setosa = 4

### Patterns in data

Look at the following tables: do you see any patterns? How could a classification model point these out?

In [34]:
patterns = iris.groupby(['Species'])
patterns['Sepal.Length'].describe()

            count   mean       std  min    25%  50%  75%  max
Species
setosa       50.0  5.006  0.352490  4.3  4.800  5.0  5.2  5.8
versicolor   50.0  5.936  0.516171  4.9  5.600  5.9  6.3  7.0
virginica    50.0  6.588  0.635880  4.9  6.225  6.5  6.9  7.9

In [35]:
patterns['Sepal.Width'].describe()

            count   mean       std  min    25%  50%    75%  max
Species
setosa       50.0  3.428  0.379064  2.3  3.200  3.4  3.675  4.4
versicolor   50.0  2.770  0.313798  2.0  2.525  2.8  3.000  3.4
virginica    50.0  2.974  0.322497  2.2  2.800  3.0  3.175  3.8

In [36]:
patterns['Petal.Length'].describe()

            count   mean       std  min  25%   50%    75%  max
Species
setosa       50.0  1.462  0.173664  1.0  1.4  1.50  1.575  1.9
versicolor   50.0  4.260  0.469911  3.0  4.0  4.35  4.600  5.1
virginica    50.0  5.552  0.551895  4.5  5.1  5.55  5.875  6.9

In [37]:
patterns['Petal.Width'].describe()

            count   mean       std  min  25%  50%  75%  max
Species
setosa       50.0  0.246  0.105386  0.1  0.2  0.2  0.3  0.6
versicolor   50.0  1.326  0.197753  1.0  1.2  1.3  1.5  1.8
virginica    50.0  2.026  0.274650  1.4  1.8  2.0  2.3  2.5

### Mild disclaimer --
*Do not worry about understanding the machine learning in this example!* We go over kNN models at length later in the course; you do not need to understand exactly what the model is doing quite yet. For now, ask yourself:

1. What is the purpose of data splitting?
2. What can we learn from data testing/validation?
3. How do we know if a model is working?
4. How could we find the model error?

If you want, try changing the size of the test data or the number of n_neighbors and see what changes!